---
layout: work_detail
group: work
title: Arbeiten
---

<section>
  <div id="work-headline-container">
    <h1 class="contentHeadline">{{ page.model.title }}</h1>{% include nav_work.html %}
  </div>
  <article>
    <div class="left-content">
      <ul>
        {% for image in page.model.images %}
        <li><img src="{{image}}"></li>
        {% endfor %}
      </ul>
    </div>
    <div class="right-content">
      <p>{{page.model.description}}</p>
      <h3 class="contentSubHeadline">Aufgaben</h3>
        <ul>
          {% for responsibility in page.model.responsibilities %}
          <li>{{responsibility}}</li>
          {% endfor %}
        </ul>
      {% if page.model.timeframe %}
      <h3 class="contentSubHeadline">Zeitraum</h3>
      <p>{{page.model.timeframe}}</p>
      {% endif %}
      {% if page.model.client %}
      <h3 class="contentSubHeadline">Auftraggeber</h3>
      <p>{{page.model.client}}</p>
      {% endif %}
    </div>
  </article>
</section>
