<nav id="main-nav-container">
  <ul id="main-nav-list">
    <li><a href="/about/" {% if page.group == 'about' %} class="active"{% endif %}>About</a></li>
    <li><a href="/blog/" {% if page.group == 'blog' %} class="active"{% endif %}>Blog</a></li>
    <li><a href="/work/" {% if page.group == 'work' %} class="active"{% endif %}>Work</a></li>
    <li><a href="/contact/" {% if page.group == 'contact' %} class="active"{% endif %}>Contact</a></li>
  </ul>
  <ul id="social-nav-list">
    <li><a href="https://github.com/sectore/" title="Github account" data-icon="&#x24;"><span>Github</span></a></li>
    <li><a href="http://www.twitter.com/sectore" title="Twitter account" data-icon="&#x21;"><span>Twitter</span></a></li>
    <li><a href="https://plus.google.com/111160856985577256573/" title="Google+ account" data-icon="&#x27;"><span>Google+</span></a></li>
    <li><a href="http://www.linkedin.com/in/jenskrause" title="Profile on LinkedIn" data-icon="&#x25;"><span></span></a></li>
    <li><a href="http://www.xing.com/profile/Jens_Krause8" title="Profile on XING" data-icon="&#x26;"><span>Xing</span></a></li>
  </ul>
</nav>
