<ul id="main-nav-list">
  <li><a href="/" {% if page.group == 'home' %} class="active"{% endif %}>Home</a></li>
  <li><a href="/ueber/" {% if page.group == 'about' %} class="active"{% endif %}>Über mich</a></li>
  <li><a href="/arbeiten/" {% if page.group == 'work' %} class="active"{% endif %}>Arbeiten</a></li>
  <li><a href="/blog/" {% if page.group == 'blog' %} class="active"{% endif %}>Blog</a></li>
  <li><a href="/kontakt/" {% if page.group == 'contact' %} class="active"{% endif %}>Kontakt</a></li>
</ul>
<ul id="social-nav-list">
  <li><a href="https://github.com/sectore/" title="Github Account" data-icon="&#x24;"><span>Github</span></a></li>
  <li><a href="http://www.twitter.com/sectore" title="Twitter Account" data-icon="&#x21;"><span>Twitter</span></a></li>
  <li><a href="https://plus.google.com/111160856985577256573/" title="Google+ Account" data-icon="&#x27;"><span>Google+</span></a></li>
  <li><a href="http://www.linkedin.com/in/jenskrause" title="Profile bei LinkedIn" data-icon="&#x25;"><span>LinkedIn</span></a></li>
  <li><a href="http://www.xing.com/profile/Jens_Krause8" title="Profile bei XING" data-icon="&#x26;"><span>Xing</span></a></li>
</ul>
