

// Neat variables
// @see: http://neat.bourbon.io/docs/#variables
// Note: Dimensions are based on http://960.gs/
//$max-width: rem(940);
$total-columns: 12;
$column: rem(60);
$gutter: rem(20);
$visual-grid: true;