@mixin hidden(){
  display: none;
  visibility: hidden;
}

@mixin shown(){
  display: block;
  visibility: visible;
}

@mixin responsive-image(){
  max-width: 100%;
  width: 100%;
  height: auto;
}

@mixin respond-to($media){
  @media #{$media}{
    @content;
  }
}

/*
  Hides a text to see its background.
  Mixin is grabbed from compass
  http://compass-style.org/reference/compass/typography/text/replacement/#mixin-squish-text
*/
@mixin squish-text {
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
}

@mixin single-text-shadow($color) {
  text-shadow: 1px 1px $color;
}