
//
// make sure that the content is located on top to have clickable content
.post-content>div
  position: relative

.post-content>section
  position: absolute


#post-headline-container
  position: relative

  h1
    padding: pixel-to-em(5, 30) pixel-to-em(45, 30)

    @include respond-to('big-screen')
      padding: 0 pixel-to-em(20, 30)


.blog-content h3,
.post-content h2
  @include adjust-font-size-to(30px)
  @include margin-leader(1)
  @include margin-trailer(.5)
  background-image: none

  @include respond-to('small-and-default-screen')
    @include adjust-font-size-to(30px, 1.5)

.post-content h4
  @include adjust-font-size-to(21px)
  @include prefix($content-padding-left-right)
  @include suffix($content-padding-left-right)

.post-content,
.blog-content

  article>ul
    list-style-type: disc
    list-style-position: inside

    li
      @include prefix($content-padding-left-right)
      @include suffix($content-padding-left-right)
      @include adjust-font-size-to(19px)
      @include padding-trailer(.75)

  ol
    list-style-type: decimal
    list-style-position: inside


  .posted-on
    font-style: italic

.blog-latest-post

  .posted-on
    font-style: italic

