footer
  @include padding-leader(2)
  @include clearfix

  p
    border-top: 1px dotted $font-color-light
    padding-left: pixel-to-em($content-padding-left-right, 13)
    padding-right: pixel-to-em($content-padding-left-right, 13)
    @include padding-leader(.5)
    @include padding-trailer(3)

    @include adjust-font-size-to(13px)
    color: $font-color-light

    text-align: center

  a
    color: $font-color-light

  @include respond-to('small-and-default-screen')
    background-color: #989898
    border-top: 1px solid white
    a
      color: white

    p
      border-top: none
      color: white
      @include padding-leader(3)
      @include padding-trailer(.5)


