{% include head.html %}
{% include nav_post.html %}
<div id="wrapper">
  {% include header.html %}
  {% include nav_top.html %}
  <div class="content post-content">
    <div>
      <section>
        <div id="post-headline-container">
          <h1 class="contentHeadline">{{page.title}}</h1>{% include nav_post.html %}
        </div>
        <article>
          <p class="posted-on">Posted on {{ page.date | date: "%B %e, %Y" }}</p>
          {{ content }}
        </article>
      </section>
    </div>
  </div>
  {% include nav_bottom.html %}
  {% include footer.html %}
</div>